@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-custom {
    @apply rounded-lg border border-gray-300 px-2 font-normal focus:border focus:border-blue-300 focus:outline-blue-100;
  }
  .button-custom {
    @apply rounded-lg p-1 px-4;
  }
}
.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 200vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eff3f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a99e8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
